* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav {
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;

}
nav a {
    text-decoration: none;
    color: black;
    padding: 0 2rem;
    font-style: italic;
}
nav a:hover {
    color: darkgray;
}
.avatar {
    display: flex;
    color: black;
    font-size: 3rem;
    font-style: italic;
    align-items: center;
}
.circular-image {
    hight: 140px;
    width: 140px;
    border-radius: 50%;
    margin-right: 10px;
}
.name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.name-container p {
    margin 0;
}
.experience-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 50px;
}
button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: black;
    background: darkseagreen;
    cursor: pointer;
    border-radius: 50px;
}
button:hover {
    color: white;
}
