* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav {
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;

}
nav a {
    text-decoration: none;
    color: black;
    padding: 0 2rem;
    font-style: italic;
}
nav a:hover {
    color: darkgray;
}
.expand-button {
    border-radius: 24px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 8px;
    padding-top: 8px;
    background-color: white;
    color: black;
    border: 2px solid black;
    font-style: italic;
    cursor: pointer;
}
.expand-button:after {
    content: "More"
}
.expand-button.active:after {
    content: "Less"
}
.expand-button:hover {
    opacity: 65%;
}
.avatar {
    display: flex;
    color: black;
    font-size: 3rem;
    font-style: italic;
    align-items: center;
}
.circular-image {
    hight: 140px;
    width: 140px;
    border-radius: 50%;
    margin-right: 10px;
}
.name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.name-container p {
    margin 0;
}
.experience-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 50px;
    padding-bottom: 50px;
}
.work-container {
    line-height: 4rem;
}
.education-container {
    line-height: 4rem;
}
.experience-list {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0px;
    line-height: 2;
    list-style: none;
}
.experience-item-heading {
}
.experience-item-heading:hover {
    opacity: 65%;
}
.education-experience-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.work-experience-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    max-height: 400px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.experience-description-list {
    padding-right: 20px;
    list-style: disc;
    list-style-position: inside;
    //line-height: 1.2rem;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.experience-description-list.show {
    max-height: 500px;
    opacity: 1;
}
.experience-description-item {
    padding: 5px;
}
